{% extends 'base.html'%}

{% block title%}Авторизация{%endblock title%}

{%block content%}
<div class="container">
<div class="main">
    <div class="text_us">
    <h1>Авторизация</h1>
    </div>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="text_us">
        {% for field in form %}
        <div class="form-group">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% if field.errors%}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="sub_button">Войти</button>
        </div>
    </form>
    </div>
</div>
</div>
{% endblock content%}
