{%extends 'base.html'%}

{%block title%}Вопросы{%endblock title%}

{%block content%}
    <div class="container">


        <div class="main_us">
            <div class="text_us">
                <p>На этой странице находятся ответы на часто задаваемые вопросы нашим сотрудникам.</p>
                <p>При вознекновении иных вопросов, свяжитесь с нами по контактам внизу страницы.</p>
            </div>
        </div>
        

        <div class="main_us">
            <div class="text_us">
                <h3>Как вы ухаживаете за животными?</h3>
                <p>Всё о нашей организации и о том как мы ухаживаем за питомцами, вы можете узнать на странице <a href="{% url 'about'%}">О нас</a></p>
            </div>
        </div>


        <div class="main_us" style="border-bottom: 2px solid #e6007e;">
            <div class="text_us">
                <h3>Можем ли мы быть уверены в том, что получим здорового питомца?</h3>
                <p>Наш приют сотрудничает с вет. клиникой @@@. При любых отклонениях в поведении животных, мы обращаемя к ветеринарам.</p>
                <p>Также мы соблюдаем чистоту в нашем приюте, поэтому вероятность заболеть очень мала.</p>
            </div>
        </div>
    </div>

   <div class="footer">

    </div>
{% endblock content%}
